/* Font */


@font-face {
 font-family: "raleway";
 src: url(raleway_thin.ttf) format("truetype");
}

@font-face {
 font-family: "ubuntu";
 src: url(ubuntu_reg.ttf) format("truetype");
}

a {
 color: #a90000;
 text-decoration:none;
 border: 0px;
}

a:hover {
 color: #ff0000;
}

a:visited {
 color: #750000;
}


body {
 min-width:620px;
 width:100%;
 height: 100%;
 padding:0px;
 margin:0px;

 font-family: "raleway";
 background-color:white;
 background-color: #292929; /* Should this be MAROON instead? */
 /*background-color: #292929;*/
}

.darkBar{
 width:100%;
 height: 10px;
 background-color: #0A0A0A;
}

/* Body Container*/
#mainContainer {
 width:100%;
 min-height: 500px;
 background-color: white;
 color: black;
 position:relative;
}

#bodyHeader {
 font-size:20px;
 background-color: #D4D4D4;
 display: inline-block;
 
 padding-left:25px;
 padding-right:35px;
 border-bottom-right-radius:25px;
 height:30px;
}

#bodyContent {
 max-width:800px;
 margin:0 auto;
 padding:10px;
 font-family:ubuntu;
}

#menuContainer {
 height: 100px;
 width: 100%;
 color: white;
 position:relative;

}

#menuIconContainer {
 position:absolute;
 right:0px;
 bottom:0px;
}

.menuIcon {
 height:40px;
 display: inline-block;
 margin-right:20px;
 user-select:none;
 -webkit-user-select:none;
 -moz-user-select:-moz-none;
 -moz-touch-callout: none;
 -khtml-user-select: none;
 -ms-user-select: none;
}

.menuIcon:hover{
 filter: brightness(1.5);
 -webkit-filter: brightness(1.5);
 -moz-filter: brightness(1.5);
 -o-filter: brightness(1.5);
 -ms-filter: brightness(1.5);
}


/* Copyright Container*/
#copyrightContainer {
 height: 100px;
 width: 100%;
 color: white;
 position:relative;

 text-align:center;
} 

#HaverLogo {
 position:absolute;
 background: url("http://www.haverford.edu/foundation/images/Haverford-College-Wordmark-White.png") no-repeat;
 background-size: contain;
 margin:10px;
 width:130px;
 height:30px;
 
 right:0px;
 top:0px;
}

#HaverLogo:hover{
 opacity:0.5;
}

/* Image Conveyor */
#imageConveyor {
 height:250px;
 width:100%;
 background-color: maroon;
 text-align: center;
 position:relative;
}

#imageConveyorControl {
 position:relative;
 border-top: 1px solid #757575;
 border-bottom: 1px solid black;
 background-color: #D4D4D4;
 height:30px;
 width:100%;
 text-align:center;
 z-index:6;
}

.conveyorImage {
 height:100%;
 border-left: 1px solid black;
 border-right: 1px solid black;
 box-shadow: 0px 0px 5px 8px #0A0A0A;
 z-index:5;
 margin: 0 auto;
 position:absolute;
 left:0px;
 right:0px;
 opacity: 0;
}

#image_1 { /* On load, show only the first image */
 opacity: 1;
}

#conveyorButtonContainer{
 display:relative;
 margin: 0 auto;
 display:inline-block;
}

.conveyorButton {
 height:10px;
 width:10px;
 margin: 10px;
 display: inline-block;
 
 box-shadow: 0px 0px 5px #0A0A0A;
 background-color: #292929;
 border-radius:50px;
 border: 1px solid black;
}

.conveyorButton:hover {
 background-color: #666666;
 cursor: pointer;
}

.activeConveyorButton {
 background-color: #660000;
}

/* Menu Style */
#menuTitle {
 position:absolute;
 display: inline-block;
 margin-left: 15px;
 
 font-size: 24px;
 
 bottom:0px;
}

#listContainerGlobal {
 margin:0 auto;
 margin-bottom:40px;
 text-align:center;
}

/* Members Page Style */
.listContainer {
 display: inline-block;
 vertical-align:top;
 margin-left:50px;
 margin-right:50px;
 text-align:left;
}

.listContainer>ul {
 margin:0px;
}

#membersListHeading{
 font-size:18px;
 font-weight: bold;
 font-style:oblique;
 text-align:center;

}

.ui-tooltip{
 background-color: #292929;
 color:white;
 border:1px solid black;
 border-radius:15px;
 position:absolute;
 display:inline-block;
 padding:10px;
 z-index:1000;
}

#conr_logo {
 position:absolute;
 left: 0px;
 top:0px;
 border: 1px solid black;
 border-radius:10px;
 height:50px;
 margin:10px;
}

